body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #cce7ff;
}

#road {
    width: 600px;
    height: 120px;
    background: #444;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

#car {
    font-size: 50px;
    position: absolute;
    left: 10px;
    top: 35px;
    transition: transform 1s linear;
    cursor: pointer;
}
